.StarRating {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.stars-box {
    position: relative;
    background-color: "#b22024";
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}