.form-box {
    position: relative;
    margin: 10% auto auto;
    width: 50%;
    height: 50%;
    background-color: #4E4E50;
    padding: 3% 10%;
    border-radius: 30px;
    color: white;
    text-align: right;
}
.form-title{
    position: relative;
    text-align: center;
    margin-bottom: 5%;
}
.btn {
    color: white;
    background-color: #b22024;
    font-weight: bold;
}
.forget-pass-link{
    color: white;
}

