@import "../Fonts/vazir-fonts/fonts.css";


body{
    background-color: #292929;
    font-family: "Vazir", serif !important;
}

#mainNav {
    background-color: #b22024;
    position: fixed;
    padding: 0;
    width: 100%;
    box-sizing: content-box;
}
.logo {
    width: 40px;
}
.prof-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

