.hover-item {
    margin: 5%;
    position: relative;
    max-height: 250px;
    width: 100%;
}

@media (max-width: 1024px) {
    .movies-box-img {
        width: 80%;
    }
}

.movies-box-img {
    position: center;
    width: 100%;
    max-height: 250px;
}

.hover-info {
    width: 100%;
    max-height: 250px;
    height: auto;
}
